HELIUS_API_KEY=
COLLECTION_ADDRESS=DS54gL9wUofvjd9V7iVmMWk1Pwx2vf4G4mW1Kci6t239
NEXT_PUBLIC_SITE_URL=https://groypersquadron.xyz
NEXT_PUBLIC_GROYPER_TOKEN_MINT=44eFuquSFU8aC6Nn3LWmNapFn8f5WzwxrYEnJXjspump
NEXT_PUBLIC_GROYPER_DEXSCREENER_URL=https://dexscreener.com/solana/8KWX4gscS8P32GW4u9wW2Fs3EvPNVQAf7QxgXjp2XoeR
GROYPER_DEXSCREENER_PAIR_ADDRESS=8KWX4gscS8P32GW4u9wW2Fs3EvPNVQAf7QxgXjp2XoeR
COMMANDER_HQ_PASSWORD=
COMMANDER_HQ_SESSION_SECRET=
